<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<title>Aquariumatic</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--
-->
<meta name="viewport" content="width=device-width">
<!-- Google Web Font Embed -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,500,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/templatemo_main.css">
<script src="static/js/jquery-2.2.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#WaterChange").click(function(e) {
        e.preventDefault();
        $.post("", {"command":"WaterChange", "value":true}, function(data) {
            //alert("after heating post");
            //$('#results').html('Update: '+data.msg);
        });
      });
      $("#LightToggle").click(function(e) {
        e.preventDefault();
        $.post("", {"command":"LightToggle", "value":true}, function(data) {
            //alert("after light post");
            //$('#results').html('Update: '+data.msg);
        });
      });
      $("#Feed").click(function(e) {
        e.preventDefault();
        $.post("", {"command":"Feed", "value":true}, function(data) {
            //alert("after light post");
            //$('#results').html('Update: '+data.msg);
        });
      });
      $("#update_status").click(function(e) {
        e.preventDefault();
        $.post("", {"command":"UpdateValues", "value":true}, function(data) {
            //alert("update requested");//
            //$('#results').html('Update: ' +data.msg);
            $('#TempDiv').html('The temperature is: ' +data.TempValue);
            $('#pHDiv').html('The pH value is: ' +data.pHValue);
            $('#LightDiv').html('Lights are currently: ' +data.LightValue);
        });
      });
      $("#update_status").click();
    });
</script>
</head>
<body>
<div id="main-wrapper">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a rel="nofollow" href="http://browsehappy.com">upgrade your browser</a> or <a rel="nofollow" href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 affix text-center" style="z-index: 1;">
<h1 class="templatemo-site-title">
<a href="#">AQUARIUMATIC V1.1</a>
<img src="static/images/btn-menu.png" alt="main menu" id="m-btn" class="pull-right visible-xs visible-sm" >
</h1>
<ul id="responsive" style="display:none" class="hidden-lg hidden-md"></ul><!-- /.responsive -->
</div>
<div class="menu visible-md visible-lg">
<ul id="menu-list">
<li class="active home-menu"><a href="#home">Home</a></li>
<li class="about-menu"><a href="#about">Current Status</a></li>
<li class="services-menu"><a href="#services">Schedule</a></li>
<li class="testimonial-menu"><a href="#testimonial">*System Update*</a></li>
<li class="contact-menu"><a href="#contact">Functions</a></li>
<li><a rel="nofollow" href="http://www.facebook.com/aquariumatic" class="external">Help</a></li>
</ul>
</div><!-- /.menu -->
<div class="image-section">
<div class="image-container">
<img src="static/images/nature1.jpg" id="home-img" class="main-img inactive" alt="Home">
<img src="static/images/nature2.jpg" id="about-img" class="inactive" alt="About">
<img src="static/images/nature3.jpg" id="services-img" class="inactive" alt="Services">
<img src="static/images/nature4.jpg" id="testimonial-img" class="inactive" alt="Testimonial">
<img src="static/images/nature5.jpg" id="contact-img" class="inactive" alt="Contact">
</div>
</div>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-6 col-md-offset-6 templatemo-content-wrapper">
<div class="templatemo-content">
<section id="home-text" class="active templatemo-content-section">
<div class="col-sm-12 col-md-12 col-lg-12">
<h2>Welcome to your Aquariumatic hub</h2>
<p>From here you can make changes to settings, update the hub or view logs.</p>
<p>Choose an option from the panel to begin.</p>
</div>
</section><!-- /.home-text -->
<section id="about-text" class="inactive">
<h2 class="text-center">Current Status</h2>
<div class="col-sm-6 col-md-6">
<p>Currently your aquarium is healthy</p>
<div id="TempDiv"></div>
<div id="pHDiv"></div>
<div id="LightDiv"></div>
</div>
<div class="col-sm-6 col-md-6">
<p>If any issues are detected, aquariumatic will attempt to rectify the situation. If this is not possible, an automated message will be sent to user@userweb.com</p>
</div>
</section><!-- /.about-text -->
<section id="services-text" class="inactive">
<h2 class="text-center">Schedule</h2>
<div class="col-sm-4 col-md-4">
<h3>Feeding</h3>
<p>The system is next due to feed in ... hours</p>
<p>Last feed was at ... </p>
</div>
<div class="col-sm-4 col-md-4">
<h3>Water Change</h3>
<p>Automatic water change will take place at 03:00 every Wednesday. Please ensure you have topped up the water change tank with either RO water or treated water</p>
</div>
<div class="col-sm-4 col-md-4">
<h3>Manual Maintenance</h3>
<p>Aquariumatic will E-mail you when human interaction is needed. This will consist of: gravel syphoning and glass cleaning.</p>
</div>
</section><!-- /.services-text -->
<section id="testimonial-text" class="inactive">
<div class="col-sm-12 col-md-12">
<h2>*System Update*</h2>
<p>The system is up to date.</p>
</div>
</section><!-- /.testimonial-text -->
<section id="contact-text" class="inactive">
<div class="col-sm-12 col-md-12">
<div class="row">
<div class="col-sm-12 col-md-12"><h2>Override functions</h2></div>
<div class="clearfix"></div>
</div>
<div class="row">
<div class="col-sm-4 col-md-4">
<p><button id="Feed" name="FButton"> Feed NOW!</button></p>
</div>
<div class="col-sm-4 col-md-4">
<p><button id="WaterChange" name="WCButton">Water change NOW!</button></p>
</div>
<div class="col-sm-4 col-md-4">
<p><button id="LightToggle" name="LTCButton">Lights On/Off</button></p>
</div>
<div class="clearfix"></div>
</div>
</div>
</section><!-- /.contact-text -->
</div><!-- /.templatemo-content -->
</div><!-- /.templatemo-content-wrapper -->
</div><!-- /.row -->
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
<p class="footer-text">
<span>Copyright &copy; 2015 Aquariumatic</span>
</p>
</div><!-- /.footer -->
</div>
</div><!-- /#main-wrapper -->
<div id="preloader">
<div id="status">&nbsp;</div>
</div><!-- /#preloader -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.backstretch.min.js"></script>
<script src="static/js/templatemo_script.js"></script>
<!-- templatemo 398 nature -->
</body>
</html>
